html {
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
    background: rgb(194, 232, 247);
}

body {
    padding: 1rem;
    background: #329b99;
    color: rgb(230, 225,225);
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.logo-1 {
    width: 30%;
    height: 40%;
    text-align: center;
}

.logo-2 {
    width: 20%;
    height: 20%;
    text-align: right;
}


form {
    text-align: center;
}

label {
    font-size: 1.8rem;
}

input[type="number"] {
    font-family: helvetica;
    background: white;
    width: 50%;
    margin: 1rem;
    padding: 0.8rem 0;
    border-radius: 15px;
    font-size: 1.2rem;
    text-align: center;
}

button {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: bolder;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgb(173, 135, 235);
    margin: 0.5rem 0 1rem 0;
}

ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    /* border: 1px solid; */
    padding: 1rem 1.5rem;
    /* border-radius: 10px; */
}

.entries-wrapper {
    padding: 1rem 0;
    font-size: 1.6rem;
}


.entries-wrapper h3 {
   margin: 0;
   text-align: center;
   font-weight: lighter;
}

.data {
    font-size: 1.4rem;
    background: 141c22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0 1rem;
}