html {
    font-family: 'Bebas Neue', cursive;
    font-size: 14px;
    background: rgb(194, 232, 247);
}

body {
    padding: 1rem;
    background: #32919b;
    color: rgb(230, 225,225);
    width: 90%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #F99957;
    font-size: 40px;
}

.logo-1 {
    width: 30%;
    height: 40%;
    text-align: center;
    max-width: 50
}

form {
    text-align: center;
}

label {
    font-size: 1.8rem;
}

input[type="number"] {
    font-family: helvetica;
    background: white;
    width: 50%;
    margin: 1rem;
    padding: 0.8rem 0;
    border-radius: 15px;
    font-size: 1.2rem;
    text-align: center;
}

button {
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: bolder;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: rgb(184, 186, 177);
    margin: 0.5rem 0 1rem 0;
}

ul {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}

li {
    padding: 1rem 1.5rem;
}

.entries-wrapper {
    padding: 1rem 0;
    font-size: 1.6rem;
}


.entries-wrapper h3 {
   margin: 0;
   text-align: center;
   font-weight: lighter;
}

.data {
    font-size: 1.4rem;
    background: 141c22;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 0;
    padding: 0 1rem;
}

.progress {
    text-align: center;
    padding-bottom: 1rem;
}

.progress h3 {
    font-size: 1.6rem;
    font-weight: lighter;
}

.progress-circle-wrapper {
    display: flex;
    justify-content: center;
}

#progress-circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progress-center {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #32919b;
}